*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    --cor-principal: #d23669;
    --cor-titulo: #000;
    --cor-texto: gray;
    --cor-fundo: #fff;
}

.dark{
    --cor-principal: #00ff95;
    --cor-titulo:#fff;
    --cor-texto: #fff;
    --cor-fundo: #000;
}

h1{
    color: var(--cor-titulo);
    text-align: center;
    margin-top: 20px;

}

button{
    color: white;
    background-color: var(--cor-principal);
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    position: fixed;
    right: 30px;
    top: 20px;
}

p{
    color: var(--cor-texto);
    font-size: 16px;
    font-weight: bold;
}

.container{
    background: var(--cor-fundo);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s linear;
}

img{
    height: 110px;
    border-radius: 40%;
    border: 2px solid black ;
}